body {
    float: left;
    background-color: rgb(245, 245, 245);
    margin: 0;
    padding: 0;
    font-family:"Arial", "Helvetica Neue",
                 Helvetica, sans-serif;
    font-size: 18px;
    width: 100%;
}
#header {
    font-size: 50;
    background-color: black;
    color: #ebebeb;
    margin: 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    
}

.navbar {
    text-align: right;
    background-color: lightgreen;
    color: black;
    list-style: none;
    text-align: center;
    margin: 0;
    padding-bottom: 0;
    display: block;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

li {
    display: inline;
}

#name {
    background-color: #efeee7;
    color: rgb(0, 0, 0);
    margin: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container {
    width: 960px;
    margin: 0 auto;
}

#main-bio,
#bio-image,
#contact-info {
    float: left;

}

#main-bio {
    width: 70%;
}

#contact-info {
    background-color: #ebebeb;
    width: 30%;
}

#bio-image {
    margin: 20px;
}